<!-- Find friends page -->

<div class="search-friends mb-3">
  <h1>Find inspiring friends</h1>
    <h5>add people to your network!</h5>

      <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find your friend" %>
        <%= submit_tag "Find friends", class: "button-pink-flat mt-3" %>
      <% end %>
</div>

<hr>

<% if params[:query].present? %>
  <div class="row" style="justify-content: space-evenly;">
    <% @users.each do |user| %>
      <% unless user == current_user || current_user.following?(user) %>
        <%= link_to profile_path(user), class: "friend-card-link" do  %>
          <div class="friend-card mt-2" style="width: 160px;">
            <% if user.profile_picture? %>
              <%= cl_image_tag user.profile_picture, class: "avatar-bordered" %>
            <% else %>
              <%= image_tag "https://source.unsplash.com/featured/?face", class: "avatar-bordered" %>
            <% end %>
            <p><%= user.first_name %> <%= user.last_name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h3>Suggestions for <%= current_user.first_name %></h3>
  <div class="row" style="justify-content: space-evenly;">
    <% @suggested_users.each do |user| %>
      <% unless user == current_user || current_user.following?(user) %>
        <%= link_to profile_path(user), class: "friend-card-link" do  %>
          <div class="friend-card mt-2" style="width: 160px;">
            <% if user.profile_picture? %>
              <%= cl_image_tag user.profile_picture, class: "avatar-bordered" %>
            <% else %>
              <%= image_tag "https://source.unsplash.com/featured/?face", class: "avatar-bordered" %>
            <% end %>
            <p><%= user.first_name %> <%= user.last_name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

