<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for(@watchlist) do |f| %>
        <%= f.input :name %>
        <%= f.input :description, label: "Leave your catchy description here" %>
        <%= f.input :photo, label: "Choose image"  %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create" %>
      <% end %>
    </div>
  </div>
</div>
