<div class="d-flex justify-content-between">
  <h1>My Watchlists</h1>
  <p><%= link_to "Create new", new_watchlist_path %></p>
</div>
<hr>

<div class="d-flex watchlists-line-wrapper" style="justify-content: space-evenly;">
  <% current_user.watchlists.each do |watchlist| %>
    <div class="multiple-watchlists">
      <%= link_to watchlist_path(watchlist), class: "movie-card-link" do  %>
        <div class="watchlist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
          <% if watchlist.photo? %>
            <%= cl_image_path watchlist.photo %>
          <% else %>
            <%= image_path "https://source.unsplash.com/featured/?movies" %>
          <% end %>)">
          <div class="watchlist-card-name">
            <p><%= watchlist.name %> </p>
          </div>
        </div> <!-- .watchlist-card -->
      <% end %>
    </div>
  <% end %>
</div>


<div class="d-flex justify-content-between">
  <h1>Followed Watchlists</h1>
</div>
<hr>

<div class="d-flex watchlists-line-wrapper" style="justify-content: space-evenly;">
  <% current_user.following_by_type('Watchlist').each do |watchlist| %>
    <div class="multiple-watchlists">
      <%= link_to watchlist_path(watchlist), class: "movie-card-link" do  %>
        <div class="watchlist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
          <% if watchlist.photo? %>
            <%= cl_image_path watchlist.photo %>
          <% else %>
            <%= image_path "https://source.unsplash.com/featured/?movies" %>
          <% end %>)">
          <div class="watchlist-card-name">
            <p><%= watchlist.name %> </p>
          </div>
        </div> <!-- .watchlist-card -->
      <% end %>
    </div>
  <% end %>
</div>



