<div class="d-flex justify-content-between">
  <div>
    <h1><%= @watchlist.name %> <element style="font-weight:lighter;font-size:14px;font-style:italic;">Created by <%= link_to profile_path(@watchlist.user), style: "color:#DE4779" do %><%= @watchlist.user.first_name %> <%= @watchlist.user.last_name unless nil%> <% end %></element></h1>
    <p><%= @watchlist.description %></p>
  </div>

  <div class="mr-5 mt-3">
    <% if !@is_owner %>
      <% if @following %>
        <%= link_to "Unfollow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% else %>
        <%= link_to "Follow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% end %>
    <% else %>
      <%= link_to '#', class: "button-pink", data: {toggle: "modal", target:"#addMovieModal"} do %>
          Add Movie
        <% end %>
    <% end %>
  </div>
</div>
<hr>

<div class="d-flex" style="justify-content: normal;">
  <% @watchlist.movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "movie-card-link" do  %>
      <div class="d-flex movie-review-card">
        <img src="<%= movie.poster %>" alt="Movie Poster">
        <div class="movie-review-text">
          <h5> <%= movie.title %> </h5>
          <% user_review = movie.reviews.where(user: @watchlist.user).first %>
          <% if user_review.present? %>
            <% user_review.rating.times do  %>
              <i class="fas fa-star rating"></i>
            <% end %>
            <p> <%= user_review.content %> </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
