<div class="d-flex">
  <div class="div">
    <h1><%= @watchlist.name %></h1>
    <p style="font-weight:lighter;font-size:12px;font-style:italic;">Created by <%= link_to profile_path(@watchlist.user) do %><%= @watchlist.user.first_name %> <%= @watchlist.user.last_name unless nil %> <% end %></p>
  </div>

  <div class="mr-5 mt-4">
    <% if !@is_owner %>
      <% if @following %>
        <%= link_to "Unfollow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% else %>
        <%= link_to "Follow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>

<div>
  <% @watchlist.movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "movie-card-link" do  %>
      <div class="movie-card">
        <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
        <p> <%= movie.title %> </p>
      </div>
    <% end %>
  <% end %>
</div>
