<div class="banner-picture-watchlist" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @watchlist.photo %>);">
  <div class="banner-content-white">
    <h1><%= @watchlist.name %> </h1>
    <p style="font-weight:lighter;font-size:14px;font-style:italic;">Created by <%= link_to profile_path(@watchlist.user), style: "color:#DE4779" do %><%= @watchlist.user.first_name %> <%= @watchlist.user.last_name unless nil%> <% end %></p>
    <p style="font-weight: lighter;font-size: 14px;"><i class="fas fa-users"></i><%= pluralize(@watchlist.followers_count, 'Follower')  %> </p>
    <p><%= @watchlist.description %></p>
  </div>

<div class="position-absolute" style="right: 2%; top: 13%;">
    <% if !@is_owner %>
      <% if @following %>
        <%= link_to "Unfollow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% else %>
        <%= link_to "Follow", follow_watchlist_path(@watchlist), class: "button-pink" %>
      <% end %>
    <% else %>
      <%= link_to '#', data: {toggle: "modal", target:"#addMovieModal"} do %>
        <i class="fas fa-plus-circle icon-pink-big"></i>
      <% end %>
      <% unless @watchlist == current_user.watchlists.first %>
        <%= link_to '#', data: {toggle: "modal", target:"#updateWatchlistModal"} do %>
          <i class="fas fa-edit icon-pink-big"></i>
        <% end %>
        <%= render 'shared/updatewatchlist_modal', modal_watchlist: @watchlist, edit: true %>
        <%= link_to watchlist_path(@watchlist), method: :delete, data: { confirm: "Are you sure?" }  do %>
          <i class="fas fa-trash-alt icon-pink-big"></i>
        <% end %>
      <% end %>
    <% end %>
</div>
</div>
<hr>

<div class="d-flex" style="justify-content: normal;">
  <div class="row mx-1">
    <% @watchlist.movies.uniq.each do |movie| %>
      <div class="position-relative">
        <%= link_to movie_path(movie), class: "movie-card-link" do  %>
          <div class="d-flex movie-review-card">
            <img src="<%= movie.poster %>" alt="Movie Poster">
            <div class="movie-review-text">
              <h5> <%= movie.title %> </h5>
              <% user_review = movie.reviews.where(user: @watchlist.user).first %>
              <% if user_review.present? %>
                <% user_review.rating.times do  %>
                  <i class="fas fa-star rating"></i>
                <% end %>
                <% if  user_review.content.length < 70 %>
                  <p> <%= user_review.content %> </p>
                <% else  %>
                <p> <%= user_review.content.first(70) %> [...] </p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @is_owner %>
          <%= link_to watchlists_movie_path(movie, watchlist: @watchlist),
                      method: :delete, data: { confirm: "Are you sure?" },
                      class: 'icon-movie-trash'  do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
