<h1>Movies</h1>
<!-- [...] -->
<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!-- the list of movies -->
<hr>
  <div class="row" style="justify-content: space-evenly;">
    <% @movies.each do |movie|  %>
      <%= link_to movie_path(movie), class: "movie-card-link" do  %>
      <div class="movie-card">
      <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
      <p> <%= movie.title %> </p>
      <p><%= movie.friends_average_rating(current_user) %></p>

  </div>
      <% end %>
    <% end %>
</div>
