<div class="search mb-3">
  <h1>Discover</h1>
    <h5>Didn't decide on a movie yet?</h5>
    <%= form_tag movies_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for Movies, Watchlists, Actors, Directors, Genres" %>
      <%= submit_tag "Search", class: "button-pink-flat" %>
    <% end %>
</div>

<!-- Search Results Watchlists -->

  <% if params[:query].present? %>
    <h2 class="mt-5">Watchlists – results for "<%= params[:query] %>"</h2>
      <hr>
      <% if @watchlists.present? %>
      <!-- Watchlist card for Search -->
        <div class="my-watchlists-line-wrapper" data-watchlist-count="<%= @watchlists.count %>" style="justify-content: start;">
          <% @watchlists.each do |watchlist| %>
            <% unless watchlist.name == "Saved" || current_user.watchlists.include?(watchlist) %>
              <div class="multiple-watchlists">
                <%= link_to watchlist_path(watchlist), class: "movie-card-link" do  %>
                  <div class="watchlist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
                    <% if watchlist.photo? %>
                      <%= cl_image_path watchlist.photo, class:"watchlist-photo" %>
                    <% else %>
                      <%= image_path "https://source.unsplash.com/featured/?movies" %>
                    <% end %>)">
                    <div class="watchlist-card-name">
                      <p><%= watchlist.name %> </p>
                      <p style="font-weight:lighter;font-size:14px;font-style:italic;">Created by <%= watchlist.user.first_name %> <%= watchlist.user.last_name unless nil%></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <!-- end -->
    <% else %>
      <p><em>No watchlists found</em></p>
    <% end %>

  <% else %>

    <h2 class="mt-5">Popular Watchlists</h2>
    <hr>
      <div class="my-watchlists-line-wrapper" data-watchlist-count="<%= @popular_watchlists.length %>" style="justify-content: start;">
        <% @popular_watchlists.each do |watchlist| %>
          <% unless watchlist.name == "Saved" || current_user.watchlists.include?(watchlist) %>
            <div class="multiple-watchlists">
              <%= link_to watchlist_path(watchlist), class: "movie-card-link" do  %>
                <div class="watchlist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
                  <% if watchlist.photo? %>
                    <%= cl_image_path watchlist.photo, class:"watchlist-photo" %>
                  <% else %>
                    <%= image_path "https://source.unsplash.com/featured/?movies" %>
                  <% end %>)">
                    <div class="watchlist-card-name">
                      <p><%= watchlist.name %> </p>
                      <p style="font-weight:lighter;font-size:14px;font-style:italic;">Created by <%= watchlist.user.first_name %> <%= watchlist.user.last_name unless nil%></p>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

  <% end %>


<!-- Search Results Movies-->

    <% if params[:query].present? %>
      <h2 class="mt-5"> Movies – Results for "<%= params[:query] %>"</h2>
      <hr>
      <% if @movies.present? %>
          <div class="row" style="justify-content: normal,">
            <% @movies.each do |movie| %>
              <%= link_to movie_path(movie), class: "movie-card-link" do  %>
                <div class="movie-card">
                  <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
                  <p> <%= movie.title %> </p>
                  <% movie.friends_average_rating(current_user).times do %>
                  <i class="fas fa-star rating"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

      <% else %>
        <p><em>No movies found</em></p>
      <% end %>

    <% else %>

      <h2 class="mt-5">Movies your friends love</h2>
        <hr>
        <div class="movies-line-wrapper" data-movies-count="<%= @top_rated_movies.length %>" style="justify-content: start;">
          <% @top_rated_movies.each do |movie| %>
            <%= link_to movie_path(movie), class: "movie-card-link" do  %>
            <div class="movie-card">
              <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
              <p> <%= movie.title %> </p>
              <% unless movie.friends_average_rating(current_user) == nil  %>
                <% movie.friends_average_rating(current_user).times do %>
                <i class="fas fa-star rating"></i>
                <% end %>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
    <% end %>



