<div class="d-flex">
    <img src="<%= @movie.poster %>" class="movie-poster" alt="Movie Poster">
      <div class="movie-info">
        <h1><%= @movie.title %></h1>
        <p style="font-weight: lighter;font-size: 12px;"> <%= @movie.year %> • <%= @movie.genres %></p>
        <% if @friends_average_rating > 0 %>
          <p><% @friends_average_rating.times do  %>
            <i class="fas fa-star rating"></i>
          <% end %> <small><em>– average friends rating</em></small></p>
        <% end %>

        <p><strong>Directed by: </strong><%= @movie.directors %></p>
        <p><strong>Starring: </strong><%= @movie.actors %></p>
        <p style="margin-bottom: 0px;"><strong>Plot: </strong>
        <p><%= @movie.plot %></p>
      </div>

      <div class="mr-4 mt-3">
        <%= link_to '#', class: "button-pink", data: {toggle: "modal", target:"#addMovieModal"} do %>
          Add Movie to ...
        <% end %>
      </div>

      <div class="mr-4 mt-3">
        <% if @saved %>
          <%= link_to "Saved", saved_movie_path(@movie), class: "button-pink" %>

        <% else %>
          <%= link_to "Save", saved_movie_path(@movie), class: "button-pink" %>

        <% end %>
      </div>
</div>

<div class="d-flex justify-content-between mt-5 watchlist">
  <h2>Reviews by friends</h2>

  <%= link_to '#', data: {toggle: "modal", target:"#addReviewModal"} do %>
    <p><i class="fas fa-plus-circle" style="color: #DE4779"></i>Add Review</p>
  <% end %>
</div>

<hr>

<div id="reviews">
  <%= render 'reviews/show', reviews: @reviews %>
</div>

<img src="<%= @movie.background %>" alt="Movie Poster">

<%= render 'shared/addreview_modal', review: Review.new, movie: @movie %>
