
<img src="<%= @movie.poster %>" class="card-img-top" alt="Movie Poster">
<h1><%= @movie.title %></h1>
<p> <%= @movie.year %> • <%= @movie.genres %></p>
<p><strong>Directed by </strong><%= @movie.directors %></p>
<p><strong>Starring </strong><%= @movie.actors %></p>
<p><%= @movie.plot %></p>
