<div class="d-flex">
    <img src="<%= @movie.poster %>" class="movie-poster" alt="Movie Poster">
      <div class="movie-info">
        <h1><%= @movie.title %></h1>
        <p style="font-weight: lighter;font-size: 12px;"> <%= @movie.year %> • <%= @movie.genres %></p>

        <p><% @friends_average_rating.times do  %>
          <i class="fas fa-star rating"></i>
        <% end %> <small><em>– average friends rating</em></small></p>

        <p><strong>Directed by: </strong><%= @movie.directors %></p>
        <p><strong>Starring: </strong><%= @movie.actors %></p>
        <p style="margin-bottom: 0px;"><strong>Plot: </strong>
        <p><%= @movie.plot %></p>
      </div>
  </div>

<div class="d-flex justify-content-between mt-5 watchlist">
  <h2>Reviews by friends</h2>

  <%= link_to '#', data: {toggle: "modal", target:"#addReviewModal"} do %>
    <p><i class="fas fa-plus-circle"></i>Add Review</p>
  <% end %>
</div>

<hr>

<div id="reviews">
  <%= render 'reviews/show', reviews: @reviews %>
</div>

<%= render 'shared/addreview_modal', review: Review.new, movie: @movie %>
