  <hr>
  <br>
   <%= link_to movies_path do %>
    <i class="fas fa-search"></i> Discover
  <% end %>

  <%= link_to profile_path(current_user) do %>
    <i class="fas fa-user"></i> Profile
  <% end %>

  <%= link_to profiles_path do %>
    <i class="fas fa-users"></i> Find Friends
  <% end %>


  <%= link_to watchlists_path do %>
    <i class="fas fa-list"></i> Watchlists
  <% end %>

  <% watch_later = current_user.watchlists.first %>
  <%= link_to watchlist_path(watch_later) do %>
    <i class="fas fa-bookmark "></i> Saved
  <% end %>
  <br>


  <div class="">
  <hr>
  <%= link_to edit_user_registration_path do %>
    <i class="fas fa-cog"></i> Settings
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i> Log out
  <% end %>
  </div>





