<div class="sidenav">
  <%= link_to '#', data: {toggle: "modal", target:"#createWatchlistModal"} do %>
    <i class="fas fa-plus-circle"></i> Create Watchlist
  <% end %>

  <%= link_to '#', data: {toggle: "modal", target:"#addMovieModal"} do %>
    <i class="fas fa-plus-circle"></i> Add Movie
  <% end %>

  <!-- Modal -->
  <%= render 'shared/createwatchlist_modal' %>
  <%= render 'shared/addmovie_modal' %>

  <hr>
  <%= link_to movies_path do %>
    <i class="fas fa-home"></i> Home
  <% end %>
  <%= link_to profile_path(current_user) do %>
    <i class="fas fa-user"></i> Profile
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-search"></i> Discover
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-users"></i> Friends
  <% end %>
  <%= link_to profile_movies_path do %>
    <i class="fas fa-video"></i> My Movies
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-list"></i> Watchlists
  <% end %>
  <%= link_to '#' do %>
    <i class="fas fa-bookmark"></i> Watch later
  <% end %>
</div>
