<h1> Hello </h1>

<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<p><%= current_user.following_by_type_count('User') %> Following</p>
<p><%= current_user.follow_count %> Followers</p>
<p><%= current_user.watchlists.count %> Watchlists</p>

<div>
  <h2>Movies</h2>
  <% @movies.each do |movie| %>
    <div>
      <h3>movie.title</h3>
    </div>
  <% end %>
</div>

<div>
  <h2>Watchlists</h2>
  <% @watchlists.each do |watchlist| %>
    <div>
      <h3>watchlist.name</h3>
    </div>
  <% end %>
</div>
