<%if reviews.any? %>
  <% reviews.each do |review| %>
    <div class="review-card d-flex">
      <% if review.user.profile_picture? %>
        <%= cl_image_tag review.user.profile_picture, class: "avatar-bordered" %>
      <% end %>
      <div class="align-self-center">
        <% review.rating.times do  %>
          <i class="fas fa-star rating"></i>
        <% end %> – <%= review.content %>
        <br>
        <small><em>by <%= link_to profile_path(review.user), style: "color:#DE4779" do %><%= review.user.first_name %> <%= review.user.last_name unless nil %><% end %></em></small>
      </div>
      <div class="review-created align-self-center">
        <p>created <%= distance_of_time_in_words(Time.now - review.created_at)%> ago</p>
      </div>
    </div>
  <% end %>
<% end %>
